$green: green;
$outerSpace: #343a40;
$gray: #999c9f;
$earthMedGreen: #28a745;
$blue: #418deb;
$cartText: white;
$btnDisabled: #e0e0e0;
$btnDisabledText: #a6a6a6;
$white: white;
$productDetailsBackground: #5b5d62;
$indicaBlue: blue;
$sativaRed: red;
$lightGray: lightgray;