.card 
{
    width: 25%;
}

.card img
{
    width: 100%;
}

.card h3
{
    font-size: 1.5rem;
    margin-top: 2%;
}

.card .button
{
   color: green;
   font-weight: bold;
}

.card .button:hover
{
    cursor: pointer;
}

.featured-products,
.brands
{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    text-align: center;
    margin-top: 2%;
}

.product-card,
.brand
{
    width: 18%;
}

.title
{
    text-align: center;
}