@import './colors/colors.scss';
.container {
    display: flex;
    color: $green;

    .img-container {
        margin-top: 5%;
    }

    .contact-icons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 50px;
        margin-top: 5%;
        width: 100%;
        cursor: pointer;

        .address {
            P {
                margin-top: 0;
                margin-left: 13%;
                line-height: 1%;
            }
        }
    }

    .icons {
        margin-right: 5%;
    }

    .store-info {
        .info {
            line-height: 1%;
            color: $green;
        }

        .icon {
            color: $green;

            &:hover {
                color: $green;
            }
        }
    }
}