.contact-form
{
    width: 70%;
    margin-top: 1%;
}

form
{
    height: 100%;
    margin-left: 15%;
}

form input
{
    margin-bottom: 3%;
    margin-right: 5%;
}

.subject
{
    width: 47.5%;
}

form textarea
{
    width: 47.5%;
    height: 10rem;
}