.login h3 {
    text-align: center;
    margin-top: 2%;
}

.login p {
    text-align: center;
    margin-top: 1%;
}

.login form {
    width: 20%;
    margin: 0 auto;
}

.login form input {
    margin-left: 0%;
    margin-top: 2%;
    width: 100%;
    line-height: 3rem;
    font-size: 1.5rem;
}

.login .password-link {
    margin-left: 55%;
}

.login .login-btn {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #28a745;
    border: #28a745;
}

.login .login-btn:hover {
    background-color: green;
    border: green
}