.login {
    h3 {
        text-align: center;
        margin-top: 2%;
    }

    p {
        text-align: center;
        margin-top: 1%;
    }

    form {
        width: 20%;
        margin: 0 auto;

        input {
            margin-left: 0%;
            margin-top: 2%;
            width: 100%;
            line-height: 3rem;
            font-size: 1.5rem;
        }
    }

    .password-link {
        margin-left: 55%;
    }

    .login-btn {
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #28a745;
        border: #28a745;

        &:hover {
            background-color: green;
            border: green;
        }
    }
}