.marketing {
    .marketing-middle-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;

        .card-container {
            display: flex;
            justify-content: space-around;
        }
    }

    .help {
        width: 50%;
    }

    .marketing-contact-section {
        display: flex;
        width: 90%;
        margin-left: 8.5%;
    }
}