.product-details-container {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.product-details-container div {
    border: 1px solid lightgray;
    width: 20%;
}
.product-details-container div img {
    width: 100%;
}

.product-details-container .product-details {
    width: 30%;
    border: none;
}

.product-details-container hr {
    width: 80%;
}

.product-details-container .product-details-card h6 {
    text-align: center;
    background: #5b5d62;
    color: white;
    padding: 1%
}