@import './colors/colors.scss';
section {
    .login {
        display: flex;
        justify-content: flex-end;
        margin-top: 1%;
        margin-right: 2%;
        cursor: pointer;

        .cart-badge {
            font-size: 1rem;
            position: absolute;
            top: 20px;
            right: 30px;
            width: 25px;
            height: 25px;
            color: $cartText;
            background-color: $blue;
            border-radius: 50%;
            text-align: center;
        }
    }
    .product-details-container {
        margin-top: 2%;
        display: flex;
        justify-content: space-evenly;

        div {
            border: 1px solid $gray;
            width: 20%;

            img {
                width: 100%;
            }
        }

        .product-details {
            width: 30%;
            border: none;

            .cart-button-disabled {
                margin-top: 5%;
                margin-bottom: 5%;
                width: 50%;
                padding: 3%;
                background-color: $btnDisabled;
                color: $btnDisabledText;
                border: 1px solid $btnDisabled;
            }

            .cart-button-active {
                background-color: $earthMedGreen;
                border: $earthMedGreen;
            }

            .buying-options {
                border: none;
                width: 100%;

                .quanity-section {
                    border: none;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .size {
                        width: 50%;
                        border: none;
                    }

                    .quanity-amnt {
                        width: 50%;
                        border: none;

                        .quanity-icons {
                            width: 40%;
                            display: flex;
                            justify-content: space-between;
                            border: none;

                            span {
                                font-size: 1.3rem;
                            }

                            .btn {
                                background-color: $white;
                                border: none;

                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        hr {
            width: 80%;
        }

        .product-details-card {
            h6 {
                text-align: center;
                background: $productDetailsBackground;
                color: $white;
                padding: 1%
            }

            .top-half {
                display: flex;
                border: none;
                width: 100%;
                justify-content: space-around;
            }

            .thca-container,
            .cbd-container {
                border: none;
            }

            .bottom-half {
                border: none;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
            }

            .form-container,
            .strain-container {
                border: none;
                width: 30%;

                .product-chip {
                    width: fit-content;

                    .Indica {
                        background: $indicaBlue;
                        color: $white;
                    }

                    .Hybrid {
                        background: $green;
                        color: $white;
                    }

                    .Sativa {
                        background: $sativaRed;
                        color: $white;
                    }
                }
            }

            .product-details-card-header {
                width: 100%;
            }
        }
    }
}