.product-details-container {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.product-details-container div {
    border: 1px solid lightgray;
    width: 20%;
}
.product-details-container div img {
    width: 100%;
}

.product-details-container .product-details {
    width: 30%;
    border: none;
}

.product-details-container hr {
    width: 80%;
}

.product-details-container .product-details-card h6 {
    text-align: center;
    background: #5b5d62;
    color: white;
    padding: 1%
}

.product-details-container .product-details-card .top-half {
    display: flex;
    border: none;
    width: 100%;
    justify-content: space-around;
}
.product-details-container .product-details-card .thca-container,
.product-details-container .product-details-card .cbd-container
{
    border: none;
}

.product-details-container .product-details .cart-button-disabled {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    padding: 3%;
    background-color: #e0e0e0;
    color: #a6a6a6;
    border: 1px solid #e0e0e0;
}

.product-details-container .product-details .cart-button-active {
    background-color: #28a745;
    border: #28a745;
}

.product-details-container .product-details-card .bottom-half {
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.product-details-container .product-details-card .form-container,
.product-details-container .product-details-card .strain-container {
    border: none;
    width: 30%;
}

.form-container .product-chip,
.strain-container .product-chip {
    width: fit-content;
}

.strain-container .product-chip .Indica{
    background: blue;
    color: white;
}

.strain-container .product-chip .Hybrid {
    background: green;
    color: white;
}

.strain-container .product-chip .Sativa {
    background: red;
    color: white;
}

.product-details-card .product-details-card-header {
    width: 100%;
}

.product-details .buying-options {
    border: none;
    width: 100%;
}