@import './colors/colors.scss';
.social-icons {
    color: $gray;
    display: flex;
    cursor: pointer;

    .twitter:hover {
        color: $green;
    }

    .facebook:hover {
        color: $green;
    }
}