.store .login {
    text-align: right;
    margin-right: 2%;
    margin-top: 1%;
    cursor: pointer;
}

.store img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.store .store-header {
    border: 1px solid green;
    background: green;
    margin-top: 5%;
    display: flex;
    padding: 0.5%;
}

.store p  {
    color: white;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
}

.store .sidebar {
    border: 1px solid gray;
    width: 20%;
    height: 100%;
}

.store .sidebar .types {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.store .sidebar .types .hybrid {
    color: white;
    background-color: green;
}

.store .sidebar .types .indica {
    color: white;
    background-color: blue;
}

.store .sidebar .types .sativa {
    color: white;
    background-color: red;
}

.store .showcase {
    display: flex;
}

.store .product-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 1%;
    margin-top: 1%;
}
.store .product-container .product-card{
    border: 1px solid green;
    width: 30%;
    border-radius: 1%;
    margin-bottom: 2%;
    cursor: pointer;
}
.store .product-container .product-card img {
    width: 60%;
}

.store .product-container .product-card .product-info {
    text-align: center;
}

.store .product-container .product-card p {
    color: black;
}
.store .product-container .product-card .product-icon {
    color: black
}

.store .product-container .product-card .product-card-bottom {
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    width: 100%;
}

.store .product-container .product-card .product-type{
    margin-right: 60%;
}

.store .product-container .product-card .product-chip {
    margin-top: 1%;
    margin-left: 2%;
}

.store .product-container .product-card .product-chip .Hybrid {
    background-color: green;
    color: white;
}

.store .product-container .product-card .product-chip .Indica {
    background-color: blue;
    color: white;
}

.store .product-container .product-card .product-chip .Sativa {
    background-color: red;
    color: white;
}

